mainmenu "Matter nRF Connect Soil Sensor Example Application"

# Thread networking setup
if NET_L2_OPENTHREAD

choice OPENTHREAD_NORDIC_LIBRARY_CONFIGURATION
	default OPENTHREAD_NORDIC_LIBRARY_FTD
endchoice

choice OPENTHREAD_DEVICE_TYPE
	default OPENTHREAD_FTD
endchoice

endif # NET_L2_OPENTHREAD

# Include CHIP (Matter) feature and default definitions
rsource "../connectedhomeip/config/nrfconnect/chip-module/Kconfig.features"
rsource "../connectedhomeip/config/nrfconnect/chip-module/Kconfig.defaults"

# Include Zephyr symbols
source "Kconfig.zephyr"